@import './variables.scss';
@import './mixins.scss';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

a:link,a,a:visited,a:active{
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

html {
font-size: 62.5%; // 1rem = 10px; 10px/16px * 100 = 62.5%

    @include respond(tab-land) { //width<1200
        font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25%
    }

    @include respond(tab-port) { //width<900
        font-size: 50%; // 1rem = 8; 8px/16px = 50%
    }

// @include respond(tab-port) { //width<600
//   font-size: 30%; // 1rem = 4.8px
// }

@include respond(big-desktop) {
    font-size: 75%; // 1trem = 12px; 12px/16px = 75%
    }
}

body {
    box-sizing: border-box;
    padding: 3em;

    @include respond(tab-port) { //width<900
        padding: 0 // 1rem = 8; 8px/16px = 50%
    }
}

// FONT
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;